[submodule "libraries/pubsubclient"]
	path = libraries/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "libraries/MQTT"]
	path = libraries/MQTT
	url = https://github.com/256dpi/arduino-mqtt.git
